html, body {
  font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.chat-window {
  width: 750px;
  margin: auto;
  border: 1px solid #d5d5d5;
}

.conversation-view {
  width: 100%;
  min-height: 600px;
  padding: 20px 40px;
  background-color: #e5ddd5;
}

.message-box {
  width: 100%;
  padding: 20px 20px;
}

.text-input {
  width: 100%;
  border: none;
  padding: 5px;
}

.chat-bubble {
  font-size: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}

.chat-bubble.ai {
  justify-content: flex-end;
}

.chat-bubble.ai .chat-content {
  background-color: #4c9689;
}

.chat-content {
  display: inline-block;
  padding: 8px 15px;
  background-color: #0747a7;
  color: white;
  border-radius: 10px;
}
